{% load static %}
{% block sidebar %}
    <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <div class="sidebar-brand-wrapper d-none d-lg-flex align-items-center justify-content-center fixed-top">
            <a class="sidebar-brand brand-logo" href="{% url 'dashboard' %}"><i
                    class="mdi mdi-truck-fast"></i>SHIPPER</a>

        </div>
        <nav class="navbar p-0 fixed-top d-flex flex-row">
            <div class="navbar-brand-wrapper d-flex d-lg-none align-items-center justify-content-center">
                <a class="navbar-brand brand-logo-mini" href="dashboard.html"><img src="assets/images/logo-mini.svg"
                                                                                   alt="logo"/></a>
            </div>
            <div class="navbar-menu-wrapper flex-grow d-flex align-items-stretch">
                <ul class="navbar-nav navbar-nav-right">
                    {% if request.user.is_superuser %}
                        <li class="nav-item dropdown d-none d-lg-block">
                            <a class="nav-link btn btn-success create-new-button" id="createbuttonDropdown"
                               data-bs-toggle="dropdown" aria-expanded="false" href="#">+ Create New Record</a>
                            <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list"
                                 aria-labelledby="createbuttonDropdown">
                                <a class="dropdown-item preview-item" href="{% url 'customer-add' %}">
                                    <div class="preview-thumbnail">
                                        <div class="preview-icon bg-dark rounded-circle">
                                            <i class="mdi mdi-file-outline text-primary"></i>
                                        </div>
                                    </div>
                                    <div class="preview-item-content">
                                        <p class="preview-subject ellipsis mb-1">Customer</p>
                                    </div>
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item preview-item" href="{% url 'shipment-add' %}">
                                    <div class="preview-thumbnail">
                                        <div class="preview-icon bg-dark rounded-circle">
                                            <i class="mdi mdi-web text-info"></i>
                                        </div>
                                    </div>
                                    <div class="preview-item-content">
                                        <p class="preview-subject ellipsis mb-1">Shipment</p>
                                    </div>
                                </a>

                            </div>
                        </li>
                    {% endif %}
                    {% if not nosidebar %}
                        <li class="nav-item dropdown">
                            <a class="nav-link" id="profileDropdown" href="#" data-bs-toggle="dropdown">
                                <div class="navbar-profile">
                                    <img class="img-xs rounded-circle"
                                         src="{% static 'assets/images/faces/face15.jpg' %}"
                                         alt="">
                                    <p class="mb-0 d-none d-sm-block navbar-profile-name">{{ request.user.username }}</p>
                                    <i class="mdi mdi-menu-down d-none d-sm-block"></i>
                                </div>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list"
                                 aria-labelledby="profileDropdown">
                                <h6 class="p-3 mb-0">Profile</h6>
                                <div class="dropdown-divider"></div>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item preview-item" href="{% url 'logout' %}">
                                    <div class="preview-thumbnail">
                                        <div class="preview-icon bg-dark rounded-circle">
                                            <i class="mdi mdi-logout text-danger"></i>
                                        </div>
                                    </div>
                                    <div class="preview-item-content">
                                        <p class="preview-subject mb-1">Log out</p>
                                    </div>
                                </a>
                            </div>
                        </li>
                    {% endif %}
                </ul>
                <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button"
                        data-toggle="offcanvas">
                    <span class="mdi mdi-format-line-spacing"></span>
                </button>
            </div>
        </nav>
        {% if not nosidebar %}
            <ul class="nav">
                <li class="nav-item nav-category">
                    <span class="nav-link">Navigation</span>
                </li>
                <li class="nav-item menu-items {% if active_menu == 'dashboard' %}active{% endif %}">
                    <a class="nav-link" href="{% url 'dashboard' %}">
              <span class="menu-icon">
                <i class="mdi mdi-speedometer"></i>
              </span>
                        <span class="menu-title">Dashboard</span>
                    </a>
                </li>
                {% if request.user.is_superuser %}
                    <li class="nav-item menu-items {% if active_menu == 'customer' %}active{% endif %}">
                        <a class="nav-link" href="{% url 'customer' %}">
              <span class="menu-icon">
                <i class="mdi mdi-group"></i>
              </span>
                            <span class="menu-title">Customers</span>
                        </a>
                    </li>
                {% endif %}
                <li class="nav-item menu-items {% if active_menu == 'shipments' %}active{% endif %}">
                    <a class="nav-link" href="{% url 'shipment' %}">
              <span class="menu-icon">
                <i class="mdi mdi-truck-delivery"></i>
              </span>
                        <span class="menu-title">Shipments</span>
                    </a>
                </li>

            </ul>
        {% endif %}
    </nav>
{% endblock sidebar %}